<div class="side-main">
  <mat-accordion class="example-headers-align mat-side expansion-none panel-responsive">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header class="panel-none">
        <mat-panel-title class="text-panel-align">
          <mat-icon>
            <img class="svg text-panel-align" alt="search" src="../../assets/icons/filters/search.svg" />
          </mat-icon>
          Nombre del hotel
        </mat-panel-title>
        <mat-panel-description>
          <span class="space-span"></span>
          <mat-icon class="color-icon">expand_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-form-field>
          <input matInput placeholder="Nombre del hotel">
        </mat-form-field>
        <button mat-button color="primary">Aceptar</button>
      </ng-template>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-panel-align">
          <mat-icon>
            <img class="svg" alt="star" src="../../assets/icons/filters/star.svg">
          </mat-icon>
          Estrellas
        </mat-panel-title>
        <mat-panel-description>
          <span class="space-span"></span>
          <mat-icon class="color-icon">expand_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-list dense>
          <mat-selection-list>
            <mat-list-option checkboxPosition="before" role="option" aria-label="stars" *ngFor="let st of stars">
            <mat-icon> {{st.icon}}</mat-icon> 
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
      </ng-template>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
