<div class="side-main">
  <mat-accordion class="example-headers-align mat-side expansion-none panel-responsive">
    <mat-card class="expansion-none">Filtros</mat-card>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header class="panel-none">
        <mat-panel-title class="text-panel-align">
          <mat-icon>
            <img class="svg text-panel-align" alt="search" src="../../assets/icons/filters/search.svg" />
          </mat-icon>
          Nombre del hotel
        </mat-panel-title>
        <mat-panel-description>
          <span class="space-span"></span>
          <mat-icon class="color-icon">expand_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <form>
          <input matTooltip="Digite para buscar hotel" type="text" placeholder="Ingresa nombre del hotel" aria-label="Ingresa nombre del hotel"
            matInput [formControl]="ControlHotel" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
              <p [routerLink]="['hotelsNew', option.id]"> {{ option.name }}</p>
            </mat-option>
          </mat-autocomplete>
        </form>
      </ng-template>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-panel-align">
          <mat-icon>
            <img class="svg" alt="star" src="../../assets/icons/filters/star.svg">
          </mat-icon>
          Estrellas
        </mat-panel-title>
        <mat-panel-description>
          <span class="space-span"></span>
          <mat-icon class="color-icon">expand_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-list dense>
          <mat-selection-list #hotelOption>
            <mat-list-option checkboxPosition="before" role="option" aria-label="stars" *ngFor="let st of stars">
              <mat-icon mat-list-icon class="svg-star">
                {{ st.icon }}
              </mat-icon>
            </mat-list-option>
            <p>
              Options selected: {{hotelOption.selectedOptions.selected.length}}
            </p>
          </mat-selection-list>
        </mat-list>
      </ng-template>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Cerrar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
