@import '../../../src/sass/variables';
@import '../../../src/sass/mixins';
.login-view {
  mat-card {
    background-color: $color-mat-card;
    @media(min-width: $layout-sm) {
      @include media-card;
    }
    .mu-logo {
      @include logo-almundo;
    }
  }
  .card-image {
    background-color: $color-card;
    @include card-img;
  }
  button {
    @include button-signin;
  }
  mat-grid-list {
   @include grid-responsive; 
  }
  form {
    @include form-responsive;
  }
  p {
    @include text-responsive;
  }
  a {
    @include a-none;
  }
  a:link {
    color: $visited-link;
  }
  a:hover {
    color: $hover-link;
  }
  a:active {
    color: $hover-active;
  }
  .colorize-blue {
    filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
  }
}
