@import '../../../src/sass/mixins';
// Breakpoints

$layout-xs: 600px;
$layout-sm: 960px;
$layout-mat: 1280px;
$layout-lg: 1920px;

// Colors Links

$visited-link: #0aaac0;
$hover-link: #00aaff;
$hover-active: #2199e0;