// Breakpoints
$layout-xs: 600px;
$layout-sm: 1024px;
$layout-mat: 1280px;
$layout-lg: 1920px;

// Colors Links

$visited-link: #0aaac0;
$hover-link: #00aaff;
$hover-active: #2199e0;
$border-color: #ebebeb;

// Mat-card
$color-back: #eef1f5;
$color-mat: #cccccc;
$color-card: #f7f7f7;
$color-mat-card: #e7e7e7;