<mat-card>
  <mat-card-header>
    <mat-card-title>
      <small> - adasdasdd</small>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>asasdasdasddasd</p>
  </mat-card-content>
</mat-card>
<div class="answers">
  <h3 id="title">Respuestas</h3>
<!--  <ul class="answers-list" *ngIf="question.answers.length > 0">
    <li *ngFor="let answer of question.answers">
      <h5>
        adrian
        <small>loco</small>
      </h5>
      <p class="description">
        asasdsad
      </p>
    </li>
  </ul> -->
</div>