<mat-card *ngFor="let question of data">
  <mat-list>
    <mat-list-item [routerLink]="['questions', question._id]">
      <img matListAvatar class="header-image-cd">{{ question.user.image }}
      <h3 mat-line>{{ question.user.name }}</h3>
      <p mat-line>
        <small>{{ question.createdAt | amLocale: 'es' | amTimeAgo }}</small>
      </p>
      <p mat-line class="font-text">{{ question.text }}</p>
    </mat-list-item>
    <div>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menu">Reaccionar</button>
        <mat-menu #menu="matMenu" yPosition="above" [overlapTrigger]="false">
          <button matTooltip="Me gusta" matTooltipPosition="above" matTooltipShowDelay="300" mat-icon-button>
            <mat-icon class="color-icon" aria-label="icon-button like">fiber_manual_record</mat-icon>
          </button>
          <button matTooltip="No me gusta" matTooltipPosition="above" matTooltipShowDelay="300" mat-icon-button color="warn">
            <mat-icon aria-label="icon-button share">fiber_manual_record</mat-icon>
          </button>
          <button matTooltip="Me Divierte" matTooltipPosition="above" matTooltipShowDelay="300" class="color-advert" mat-icon-button>
            <mat-icon aria-label="icon-button favorite">fiber_manual_record</mat-icon>
          </button>
          <button matTooltip="Me Encanta" matTooltipPosition="above" matTooltipShowDelay="300" mat-icon-button>
            <mat-icon aria-label="icon-button neutral">fiber_manual_record</mat-icon>
          </button>
          <button matTooltip="Neutral" matTooltipPosition="above" matTooltipShowDelay="300" class="color-black" mat-icon-button>
            <mat-icon aria-label="icon-button like">fiber_manual_record</mat-icon>
          </button>
        </mat-menu>
        <span class="space"></span>
        <button mat-button>Comentar</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button class="color-black" mat-icon-button>
          <mat-icon class="position-icon" style="margin-left: 35px;" aria-label="icon-button like">fiber_manual_record</mat-icon>
        </button>
        <button class="color-icon" mat-icon-button>
          <mat-icon class="position-icon" style="margin-right: 20px;" aria-label="icon-button like">fiber_manual_record</mat-icon>
        </button>
        <span class="space-span"></span>
        <small> {{ question.comments.length }} Comentarios </small>
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>
