@import '../../../src/sass/variables';
@import '../../../src/sass/mixins';
.hotel-list-panel {
  @media screen and (min-width: $layout-xs) {
    
  }
  @media screen and (min-width: $layout-mat) {
    
  }
  .divider {
    margin-top: 20px !important;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
}
