@import '../../../src/sass/variables';
.publicar {
  font-size: 15px;
  color: #00C853;
}

.full-width {
  width: 100%;
}
.divider {
  margin-top: 20px !important;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
 
button {
  text-align: right;
  background-color: #00C853;
}
