@import '../../../../src/sass/variables';
@import '../../../../src/sass/mixins';
.hotel-list {
  @media screen and (min-width: $layout-xs) {
  }
  @media screen and (min-width: $layout-mat) {
    .hotel-panel-mat {
      margin: 0 auto;
      width: 850px;
      margin-bottom: 20px;
    }
    .button-xs {
      width: 20% !important;
    }
  }
  .font-text {
    font-size: 14px;
    margin-top: 20px !important;
  }
  .color-icon {
    color: #03A9F4;
  }
  .color-advert {
    color: #FFEB3B;
  }
  .color-black {
    color: #424242;
  }
  .space {
    margin-left: 30px;
  }
  .position-icon {
    position: relative;
  }
  .space-span {
    flex: 1 1 auto;
  }
  .header-image-cd {
    background-size: cover;
    max-width: 450px;
    height: 250px;
  }
  .header-image {
    background-image: url('https://i.pinimg.com/236x/41/37/55/413755ddc53f5113dd4458e625351896--anime-cat-manga-anime.jpg');
    background-size: cover;
  }
  .publicar {
    font-size: 15px;
    color: #00C853;
    margin-left: 20px;
  }
  .button-xs {
    width: 100%;
    margin: auto;
    left: 0;
    text-align: center;
    border-radius: 4px;
  }
  mat-divider.style3 {
    border-top: 1px dashed #8c8b8b;
  }
}

h2 {
  text-align: center;
  font-size: 30px !important;
  font-weight: 200;
  color: #ea6422;
}

h5 {
  color: $hover-link;
  margin-top: 0px;
  font-size: 16px;
  height: 0px;
}

h4 {
  float: left;
  margin: 0;
  height: 0px;
}

small {
  color: #c3c3c3;
}

mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 28px;
  border-radius: 2px;
  margin-bottom: 20px;
}

mat-icon {
  color: #ea6422;
}
