<div class="hotel-list">
  <mat-card class="hotel-panel-mat hotel-panel-xs" *ngFor="let hotel of data">
    <mat-list *ngIf="hotel">
      <mat-list-item [routerLink]="['hotel', hotel._id]">
        <img [src]="hotel.image" class="header-image-cd">
        <h3 mat-line>{{ hotel.name }} {{ hotel.id }}</h3>
        <small>{{ hotel.stars }}</small>
            <mat-icon mat-list-icon>star_rate</mat-icon>
        <p mat-line class="font-text">{{ hotel.price }}</p>
        {{ hotel.length }}
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
