<div class="hotel-list">
  <mat-card class="hotel-panel-mat" *ngFor="let hotel of hotels">
    <mat-card-header>
      <mat-card-title>
        <img class="header-image-cd resp-mat" mat-card-image src="../../../assets/img/hotels/{{hotel.image}}">

        <h5>{{ hotel.name }}</h5>
        <mat-icon>star</mat-icon> 
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <mat-divider class="style3"></mat-divider>
      <h2 class="font-text">ARS
        <strong>{{ hotel.price }}</strong>
      </h2>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button color="primary" class="button-xs" [routerLink]="['hotelsNew', hotel.id]">Ver hotel</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
